:root{
    --background: #010101;
    --text-color: #f3f0f0;
    --shadow-color: #7dacf3;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--background);
    color: var(--text-color);
}

h1 {
    margin-top: 25%;
    font-size: 3em;
    animation: breath;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

h2 {
    font-size: 2em;
    animation: breath;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes breath {
    0% {
        text-shadow: var(--shadow-color) 0px 0 10px;
    }
    50% {
        text-shadow: var(--shadow-color) 0px 0 20px;
    }
    100%{
        text-shadow: var(--shadow-color) 0px 0 10px;
    }
}