body {
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 5px;
}

h2 {
    text-align: center;
    margin: 20px;
}

h3 {
    margin: 5px;
}

header {
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    padding: 5px;
    text-align: center;
}

div {
    border: 1px solid black;
}

#services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  	grid-gap: 5px;
  	grid-auto-rows: minmax(50px, auto);
	align-items: center;
    text-align: left;
}

#service1 {
    grid-column: 1;
	grid-row: 2;
}

#service2 {
    grid-column: 2;
	grid-row: 2;
}